.container {
    background-color: #98fb98;
  
    position: relative;
    width: 1092px;
    height: 100%;
}

div.product {
    position: absolute;
    background-size: cover;
    width: 180px;
    height: 150px;
    
}
#product-4 {
    left: 830px;
    top: 200px;
    background-image: url(img/product-4.jpg)
    
}
#product-3 {
    left: 530px;
    top: 200px;
    background-image: url(img/product-3.jpg);
}
#product-2 {
    left: 230px;
    top: 200px;
    background-image: url(img/product-2.jpg);
}
#product-1 {
    top:200px;
    background-image: url(img/product-1.jpg);
}