
@media all and (max-width: 992px) {
   
   
    
    
    #product-1 {
    width: 45vw;
    display: inline-block;
    
    
    }
    
      #product-2 {
    width: 45vw;
    display: inline-block;
   
    
    
    }
     #product-3 {
    width: 45vw;
    display: inline-block;
   
    }
    
      #product-4 {
    width: 45vw;
    display: inline-block;
    
    }
    .mask {
    width: 45vw;
    height: 290px;
    opacity: 0;
    overflow: hidden;
    font-size: 500%;
    position: relative;
    transition: all 1s ease; 
   
   
}

.mask:hover  {
    display: inline-block;
    opacity: 1;
    background-color: rgba(255, 102, 0, 0.6);
    width: 45vw;
    height: 290px;
}
}

@media all and (max-width: 480px) {
    
     #container {
        position: relative;
        background-color: ;
        width: 100%;
        min-height: 1300px;
        
    }
    
    #product-1 {
    width: 95vw;
    display: inline-block;
    margin-left: 1vw;
    
    }
    
      #product-2 {
    width: 95vw;
    display: inline-block;
     margin-left: 1vw;
    }
    
     #product-3 {
    width: 95vw;
    display: inline-block;
     margin-left: 1vw;

    }
    
      #product-4 {
    width: 95vw;
    display: inline-block;
     margin-left: 1vw;

    }
    .mask {
    width: 100vw;
    height: 290px;
    opacity: 0;
    overflow: hidden;
    font-size: 500%;
    position: relative;
    transition: all 1s ease; 
   
   
}

.mask:hover  {
    display: inline-block;
    opacity: 1;
    background-color: rgba(255, 102, 0, 0.6);
    width: 100vw;
    height: 290px;
}
}