@media all and (max-width: 992px) {




    #product-1 {
        width: 45vw;
        display: inline-block;


    }

    #product-2 {
        width: 45vw;
        display: inline-block;



    }
    #product-3 {
        width: 45vw;
        display: inline-block;

    }

    #product-4 {
        width: 45vw;
        display: inline-block;

    }
}

@media all and (max-width: 480px) {

    #container {
        position: relative;
        background-color: ;
        width: 100%;
        min-height: 1300px;

    }

    #product-1 {
        width: 95vw;
        display: inline-block;
        margin-left: 1vw;

    }

    #product-2 {
        width: 95vw;
        display: inline-block;
        margin-left: 1vw;
    }

    #product-3 {
        width: 95vw;
        display: inline-block;
        margin-left: 1vw;

    }

    #product-4 {
        width: 95vw;
        display: inline-block;
        margin-left: 1vw;

    }

}