
.lakeee {
    width: 660px;
    height: 355px;
    border: 5px solid pink;
    text-align: center;
    padding-top: 5px;
    
}

.lakeee:hover {
    border: 5px solid black;
    width: 660px;
    height: 355px;
}