#portfolio-section {
    
    #portfolio-item-1 {
       background-image: url(../img/portfolio1.jpg);
       background-size: cover;
    }
    #portfolio-item-2 {
       background-image: url(../img/portfolio2.jpg);
       background-size: cover;
    }
    #portfolio-item-3 {
       background-image: url(../img/portfolio4.jpg);
       background-size: cover; 
    }
    
    .portfolio-item {
        .item-mask {
            background-color: rgba(42, 61, 79, 0.8);
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all 0.3s ease-in-out;

            font-size: initial;
            .item-content {
                    border: 1px solid #fff;
                    margin: 10px;
                    height: 330px;
                    position: relative;
                    top: 5px;
                .item-content-inner {
                        color: $white-color;
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                        right: 0;
                        left: 0;
                        padding: 5px;
                    a {
                        color: $white-color;
                    }
                    a:hover {
                        color: $main-color;
                    }
                }
            }
         }
        .item-mask:hover {
            opacity: 1;
        }
    }
    
    
    
}