#skills-section {
    .row {
        margin-top: 20px;
    }
    figure {
        width: 20%;
        display: inline-block;
    
    .skills-icon-item {
        
        display: inline-block;
        margin-left: 40px; 
        
        }
        
    }
}