body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100vw;
    height: 70px;
    position: relative;
    z-index: 1;
    list-style-type: none;
   
    
   
    
  
}
ul {
    text-decoration: none;
    list-style-type: none;
}

}

.list_item {
    display: inline-block;
    list-style-type: none;
    line-height: 70px;
    color: white;
    position: absolute;
    top: 0;
    
}
.list_item a {
    color: white;
    list-style-type: none;
    text-decoration: none;
    
}
li:nth-last-child(-n+3) {
    float: right;
    text-align: left;
    width: 5vw;
    padding: 5px;
    
 
}
li:nth-child(-n+3) {
    float: left;
    width: 5vw;
}

h1 {
    width: 100%;
    text-align: center;
    
}
#triangle-topleft {
	width: 0;
	height: 0;
	border-top: 100px solid blue;
	border-right: 100vw solid transparent;
    position: absolute;
    top: 0
}

#triangle-topright {
	width: 0;
	height: 0;
	border-top: 100px solid blue;
	border-left: 100vw solid transparent;
    position: absolute;

    top: 0%;

}